<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1 class="index-title">PokéDex Main Page</h1>
    <a href="/new"><button class="new-btn">Create Your Own PokéMon</button></a>
    <div class="index-container">
        <% pokedex.forEach((pokemon, index) => { %> 
            <div class="index-pokemon">
                <a href="/<%=index%>"> <%= pokemon.name %></a>
                <a href="/<%=index%>"> <img class="index-image" style="height:5em" src="<%= pokemon.img %>" alt=""> </a>
                <form action="/<%= index %>?_method=delete" method="post">
                    <input type="submit" value="delete">
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>