<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1 class="index-title">PokéDex Main Page</h1>
    <a href="/pokedex/new"><button class="new-btn">Create Your Own PokéMon</button></a>
    <div class="index-container">
        <% pokedex.forEach((pokemon, index) => { %> 
            <div class="index-pokemon">
                <a href="/pokedex/<%=index%>"> <%= pokemon.name %></a>
                <a href="/pokedex/<%=index%>"> <img class="index-image" style="height:5em" src="<%= pokemon.img %>" alt=""> </a>
                <form action="/pokedex/<%= index %>?_method=delete" method="post">
                    <input class="delete-btn" type="submit" value="Delete">
                </form>
                <a href="/pokedex/edit/<%=index%>"><button class="edit-btn">Edit</button></a>
            </div>
        <% }) %>
    </div>
</body>
</html>