<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="show">
    <div class="show-main-title">
        <h1 class="wtp-title"> Who's That PokéMon? </h1>
    </div>
    <div class="show">
        <div class="show-right"> <!-- This div should be show-left as it is on the left side of the page -->
            <img src="<%= pokemon.img %>" alt="">    
        </div>
            <div class="show-center">
                <h1 class="show-title"><%= pokemon.name %></h1>
            <h2 class="show-misc">Information</h2>
            <ul class="show-info">
                <li class="misc-stat">PokéMon Id#: <%= pokemon.id %> </li>
                <li class="misc-stat">Types: <%= pokemon.type %> </li>
                <li class="misc-stat">Height: <%= pokemon.misc.height %> </li>
                <li class="misc-stat">Weight: <%= pokemon.misc.weight %>lbs. </li>
            </ul>
        </div>
        <div class="show-left"> <!-- This div should be show-right as it is on the right side of the page -->
            <h2 class="show-stats">Stats</h2>
            <ul class="show-skillpoints">
                <li class="skillpoint-stat">HP: <%= pokemon.stats.hp %> </li>
                <li class="skillpoint-stat">Attack: <%= pokemon.stats.attack %> </li>
                <li class="skillpoint-stat">Defense: <%= pokemon.stats.defense %> </li>
                <li class="skillpoint-stat">Special Attack: <%= pokemon.stats.spattack %> </li>
                <li class="skillpoint-stat">Special Defense: <%= pokemon.stats.spdefense %> </li>
                <li class="skillpoint-stat">Speed: <%= pokemon.stats.speed %> </li>
            </ul>
            <a href="/pokedex"><button class="show-goBackBtn">Go Back</button></a>
        </div>
    </div>
</body>
</html>